body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

#main-brand {
    /* background-color: gray; */
    font-size: 2em;
    font-weight: bold;
}

#my-title {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 10px;
}

.my-col {
    text-transform: capitalize;
    background-color: #6c757d;
    margin-bottom: 20px;
    padding: 10px;
    border-collapse: collapse;
}